<tr id="task_<%= task.id %>">
  <td><%= task.id %></td>
  <td><%= link_to truncate(task.organization, length: 15), edit_sponsor_path(task), title: task.organization %></td>
  <td><%= link_to truncate(task.plan.name, length: 15) edit_plan_path(task.plan), title: task.plan.name %></td>
  <td><%= truncate task.next_step, length: 35 %></td>
  <td><%= select_tag "state", options_from_collection_for_select(states, :id, :display_name, task.state.id), data: { id: task.id }, class: "state-select" %></td>
  <td><%= l task.updated_at, format: :short %></td>
</tr>
