<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="page-header">
        <h3>&nbsp;</h3>
      </div>
      <%= render partial: 'sidenav', locals: { selected_state: @selected_state, states: @states.opened, title: 'Unfinished' } %>
      <%= render partial: 'sidenav', locals: { selected_state: @selected_state, states: @states.closed, title: 'Finished' } %>
    </div>
    <% if @selected_state.nil? %>
    <div class="col-md-8">
      <div class="page-header">
        <h3>Uh-oh!</h3>
      </div>
      <p>There is no such state. Maybe you should try to <%= link_to 'build it','https://en.wikipedia.org/wiki/State-building'%>?</p>
    </div>
    <% else %>
    <div class="col-md-8">
      <div class="page-header">
        <h3>All <%= @selected_state.display_name %> Sponsors</h3>
      </div>
      <%= render partial: 'task_by_state_table', locals: { tasks: @tasks } %>
    </div>
  <% end %>
  </div>
</div>
