<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    <div class="page-header">
      <h3>Create a new Sponsor</h3>
    </div>

    <%= form_for@sponsor do |f| %>
      <% if @sponsor.errors.any? %>
      <div class="row">
        <div class="col-md-12">
          <div id="error_explanation">
            <h2><%= pluralize(@plan.errors.count, "error") %> prevented this sponsor
              from being saved:</h2>
            <div class="alert alert-error alert-block">
              <button type="button" class="close" data-dismiss='alert'>x</button>
              <ul>
                <% @sponsor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add a new Sponsor</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
              <%= f.label :organization, class: 'sr-only' %>
              <%= f.text_field :organization, autofocus: true, class: 'form-control',
              placeholder: 'Organization', :required => true %>
          </div>
          <div class="form-group">
              <%= f.label :person_name, class: 'sr-only' %>
              <%= f.text_field :person_name, class: 'form-control',
              placeholder: 'Contact Person',:required => true %>
          </div>
          <div class="form-group">
            <%= f.label :person_role, class: 'sr-only' %>
            <%= f.text_field :person_role, class: 'form-control',
            placeholder: 'Person Post',:required => true %>
          </div>
          <div class="form-group">
            <%= f.label :person_email, class: 'sr-only' %>
            <%= f.text_field :person_email, class: 'form-control',
            placeholder: 'Person Email',:required => true %>
          </div>
          <div class="form-group">
            <%= f.label :person_phone, class: 'sr-only' %>
            <%= f.text_field :person_phone, class: 'form-control',
            placeholder: 'Person Phone',:required => true %>
          </div>
          <div class="form-group">
          <%= f.label :user_id, class: 'sr-only' %>
          <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :email) %>
          </div>
          <div class="form-group">
            <%= f.label :plan_id, class: 'sr-only' %>
            <%= f.select :plan_id, options_from_collection_for_select(Plan.all, :id, :name) %>
          </div>
          <div class="form-group">
            <%= f.label :extra_pay, class: 'sr-only' %>
            <%= f.text_field :extra_pay, class: 'form-control',
            placeholder: 'Extra Pay' %>
          </div>
          <div class="form-group">
            <%= f.label :state_id, class: 'sr-only' %>
            <%= f.select :state, @steps %>
          </div>
          <div class="form-group">
            <%= f.label :next_step, class: 'sr-only' %>
            <%= f.text_field :next_step, class: 'form-control',
            placeholder: 'Next Step',:required => true %>
          </div>
          <div class="form-group">
            <%= f.label :notes, class: 'sr-only' %>
            <%= f.text_area :notes, class: 'form-control',
            placeholder: 'Notes' %>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
