<tr data-link='<%= sponsor_path(sponsor) %>'>
  <td>
    <%= sponsor.organization %>
    <br/>
    <span class="personal-information">(<%= sponsor.person_name %>, <%= sponsor.person_role %>)</span>
  </td>
  <td>
    <div class="btn btn-default btn-xs" %>
      <span class="glyphicon glyphicon-earphone" data-toggle="tooltip" data-placement="top" title="Call to <%= sponsor.person_name %> at <%= sponsor.person_phone %>"></span>
    </div>
    <%= mail_to sponsor.person_email, class: "btn btn-info btn-xs" do %>
      <span class="glyphicon glyphicon-envelope" data-toggle="tooltip" data-placement="top" title="Send an email to <%= sponsor.person_name %>"></span>
    <% end %>
  </td>
  <td><%= sponsor.state_name %></td>
  <td><%= truncate sponsor.next_step, length: 35 %></td>
  <td  class="hidden-xs">
    <a data-toggle="collapse" href="#collapse<%= sponsor.id %>" aria-expanded="false" aria-controls="collapse<%= sponsor.id %>">
      See more +
    </a>
    <div class="collapse" id="collapse<%= sponsor.id %>">
      Diff.: <%= sponsor.extra_pay %> &euro;
      <br>
      Notes: <%= sponsor.notes %>
    </div>
  </td>
  <td class="text-right">
    <%= link_to edit_sponsor_path(sponsor), class: "btn btn-info btn-xs" do %>
     <span class="glyphicon glyphicon-edit"></span> Edit
    <% end %>
    <%= link_to sponsor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %>
     <span class="glyphicon glyphicon-remove-circle"></span> Remove
    <% end %>
  </td>
</tr>
