<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="page-header">
        <h3><%= title %></h3>
      </div>
      <%= form_for(@plan, html: { multipart: true }) do |f| %>
      <% if @plan.errors.any? %>
      <div class="row">
        <div class="col-md-12">
          <div id="error_explanation">
            <h4><%= pluralize(@plan.errors.count, "error") %> prevented this plan
              from being saved:</h4>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">x</button>
              <ul>
                <% @plan.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
          <div class="form-group row">
            <div class="col-md-9">
              <%= f.label :name %>
              <%= f.text_field :name, autofocus: true, class: 'form-control',
              placeholder: 'Plan name', required: true %>
            </div>
            <div class="col-md-3">
              <%= f.label :slots %>
              <%= f.number_field :slots, class: 'form-control',
              placeholder: 'Slots', required: true %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
            <%= f.label :price %>
              <div class="input-group">
              <%= f.number_field :price, class: 'form-control',
              placeholder: 'Price', required: true %>
              <span class="input-group-addon">€</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Benefits</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="form-group row">
              <div class="col-md-4">
                <%= f.label :tickets %>
                <%= f.number_field :tickets, class: 'form-control',
                placeholder: 'Tickets', required: true %>
              </div>
              <div class="col-md-4">
                <%= f.label :discount_coupon %>
                <div class="input-group">
                  <%= f.number_field :discount_coupon, class: 'form-control',
                  placeholder: 'Discount Coupon', required: true %>
                  <span class="input-group-addon">%</span>
                </div>
              </div>
              <div class="col-md-4">
                <%= f.label :discount_tickets %>
                <div class="input-group">
                  <%= f.number_field :discount_tickets, class: 'form-control',
                  placeholder: 'Discount Tickets', required: true %>
                  <span class="input-group-addon">%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Additional information</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control',
            placeholder: 'Description', required: true, rows: 8  %>
          </div>
        </div>
      </div>
      <div class="actions text-right">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
