<div class="row">
  <div class="col-md-offset-4 col-md-4">    
      <div class="page-header">
        <h3>Sign Up</h3>
      </div>
      <div class="form alert" role="alert">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email, class: 'sr-only' %>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email', :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'sr-only' %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: 'sr-only'  %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmation password', :required => true %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-success' %>
        </div>
      <% end %>
      </div>
      <footer class="footer">
        <%= render "users/shared/links" %>
      </footer>
  </div>
</div>